.wine-info{

}

.wine-info h3 {
    border-bottom: 3px solid #420065;
    padding-bottom: 2rem;
}

.wine-info .meta{
    border-left: 2px solid #420065;
    margin-left: 1rem;
    padding-left: 1rem;
}

.wine-info .border-box{
    margin : 1rem 0;
    width: 100%;
    height: 1rem;
    background-color: #420065;
}

.wine-info .info-container{
    border : 3px solid #420065;
    margin :10px;
    display: flex;
}

.wine-info .info-container .column {
    border-right: 1px solid #420065;
    padding: 0 1rem;
    margin-right: 1rem;
}